attrs==17.4.0
cachetools==2.0.1
certifi==2018.1.18
chardet==3.0.4
flake8==3.5.0
google-auth==1.4.1
gspread==2.0.0
idna==2.6
mccabe==0.6.1
more-itertools==4.1.0
pluggy==0.6.0
py==1.5.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.3.1
pyee==5.0.0
pyflakes==1.6.0
pyppeteer==0.0.16
pytest==3.5.0
requests==2.18.4
rsa==3.4.2
six==1.11.0
TBB==0.1
urllib3==1.24.2
websockets==4.0.1
